  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}
.container_fluid{
    min-height: 86vh;
    background-image: url(../../../../assets/images/login_bg.png) !important;
    background-size: cover;
    background-repeat: no-repeat;
}

.inner_container{
    padding: 40px;
}

.text{
    font-size: 30px;
    color: #153060;
    font-weight: 400;
}

.text_lo{
    font-size: 30px;
    color: #D41D24;
    font-weight: 400;
}

.text_go{
    color: #153060;
    font-weight: 600;
}

.text_label{
    font-size: 11px;
    color: #153060;
}

.text_normal{
    color: #828282;
    font-size: 13px;
}

input{
    height: 40px;
    /* margin-bottom: 10px !important; */
}

input[type=submit]{
    background-color: #153060;
    color: white;
    font-size: 12px;
}

.content {
    /* width: 400px; */
    text-align: left;
    margin-bottom: 10px;
}

.content p {
    margin: 0px;
}

.content label {
    font-size: 10px;
    color: #153060;
}






