.addProductBtn {
    background-color: #72B9D8;
    color: #fff;
}
.category_div {
    background-color: #fff;
    width: 95%;
    height: 450px;
    overflow: auto;
}
.btn_group {
    position: fixed;
    bottom: 60px;
}
.border_box{
    border: 1px solid #72b9d8;
    padding: 0.25rem;
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.border_box>i{
    color: #72b9d8;
    height: 50px;
}
.image_card{
    min-height: 400px;
}
.formGroup label{
    font-size: 18px;
}
