.teamBanner {
    background: url('../../../assets/images/team-banner.png');
    width: 100%; 
    height: 400px; 
}
.teamBanner h1{
    font-weight: 400;
}
.teamBanner p {
    font-weight: 400;
}
.team_section1 h4 {
    font-weight: 600;
}
.team_section1 p {
    font-weight: 600;
}
.team_card {
    box-shadow: 1px 1px #5f6980;
    border: 1px #5F6980 solid;
}
.team_card h6 {
    color: #3E3E59;
    font-weight: 400;
}
.team_card p {
    color: #5F6980;
    font-size: 14px;
    font-weight: 400;
}
.teamSocial {
    background: #F2F4F7;
    border-radius: 10px;
}
